<form action="add" method="post" class="form">
    <label for="name">Name: <input type="text" name="name" class="form-input" required></label>
    <button class="btn btn-outline-info" type="submit">Add</button>
</form>